#!/bin/bash

source /etc/bash.bashrc
source /scripts/logger.sh

set -eo pipefail

{% if service.node_version != 'default' %}
log_warn "Service node version is set: {{ service.node_version }}" "${CYAN}{{ service.name }}${RESET}"
fnm use {{ service.node_version }} --install-if-missing &> /dev/null
{% else %}
if [ -f /data/.nvmrc ] || [ -f /data/.node-version ]; then
  (cd /data && fnm use --install-if-missing) &> /dev/null
fi
{% endif %}

{% if service.load_dotenv %}
# Get directory env variables if exists
if [[ -f .env ]]; then
  log_this "{{ service.cwd }}/.env" "${CYAN}SOURCE${RESET}" "INFO"
  source .env
fi
{% endif %}

{% if service.before is iterable and service.before | length > 0 %}
# before tasks
{% for command in service.before %}
log_info "Running before task: $ {{ command }}"
{{ command }}

{% endfor %}
{% endif %}
# Package start command
{{ service.command }}
